.mycard {
    display: flex;
    flex-direction: column;
    background: #000;
    width: 33%;
    padding-bottom: 10px;
}
  
.mycardx2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 60px;
}
.bb{
 opacity: 0.7;

}
.bb:hover{
 opacity: 1.0;

}

@media (max-width: 788px) {

.mycardx2 {
    display: flex;
    flex-direction:column;


  }
.mycard {
  
    width:80%;
  margin-left: 10%;
}
.bb{
width: 40%;
margin-left: 30%;


}
}

  }

.form11 {
    display: flex;
    flex-direction: column;
}

.form22 {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#444, #111);
    padding: 0px;
    border-radius: 10px;
}

.form33 {
    display: flex;
    justify-content: space-evenly;
}

.form33 :hover {
    cursor: pointer;
}

.form33 label {
    color: gray;
}

.input1 {
    width: 100%;
    background-color: #000;
    color: gray;
    border: gray 1px solid;
    cursor: pointer;
}

.input1:hover {
    background-image: linear-gradient(#444, #111);
    color: #fafafa;
    border-radius: 20px;
    border: 2px solid gray;
}

.label {
    text-align: center;
    color: gray;
}

.sumary {
    cursor: pointer;
    background-color: rgb(32, 30, 30);
    border-radius: 5px;
    padding: 2px;
    margin-left: auto;
    width: 100%;
}

.sumary h4 {
    text-align: center;
    margin: 5px;
}

.sumary:hover {
    border-radius: 20px;
    background-color: rgb(8, 8, 8);
}

.sumary h4:hover {
    border-radius: 20px;
    color: #fafafa;
}

.imgbuzo {
    width: 100%;
}


/*card flip*/


/* Style The Dropdown Button */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 30%;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 150px;
    height: 150px;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #000;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.mycardx3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 60px;
}

.mycard3 {
    display: flex;
    flex-direction: column;
    background: #000;
    width: 33%;
    margin-bottom: 40px;
}

.aa h5 {
    position: absolute;
    opacity: 0.6;
    font-size: 30px;
    top: 30%;
    color: transparent;
    border: none;
    margin-left: 20%;
}

.aa h5:hover {
    cursor: pointer;
    visibility: visible;
    color: rgb(223, 59, 59);
    background-color: rgb(32, 30, 30);
    padding: 3px;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: #000 2px solid;
}

.aa {
    position: relative;
    display: inline-block;
    opacity: 0.7;
    color: transparent;
}

.aa:hover {
    opacity: 1.0;
    cursor: pointer;
}

.aa h2 {
    opacity: 0.6;
    font-size: 20px;
}

.off {
    box-shadow: 0 1px 1px 1px rgb(253, 21, 21);
    background-image: linear-gradient(rgb(14, 8, 8), rgb(253, 21, 21));
    width: 10%;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    padding: 3px;
}